function Sys.init 0
    push constant 2
    push constant 3
    push constant 5
    call foo 3
    return

function foo 0
    push argument 0
    push argument 1
    call bar 2
    push argument 2
    add
    return

function bar 0
    push argument 0
    push argument 1
    add
    return 