function Sys.init 1
    call Example4.bar 0
    return

function Example4.bar 0
    push constant 2
    push constant 2
    call Example4.foo 2
    return

// if x == y then 123 else 456
function Example4.foo 0
    push argument 0
    push argument 1
    eq
    not
    if-goto L1.0
    push constant 123
    goto L2.0
label L1.0
    push constant 456
label L2.0
    return
